
doctype html
head
  title Datos Libres
  link(href='css/bootstrap.min.css' rel='stylesheet')
  link(href='css/dashboard.css' rel='stylesheet')
nav.navbar.navbar-dark.fixed-top.bg-dark.flex-md-nowrap.p-0.shadow
  a.navbar-brand.col-sm-3.col-md-2.mr-0(href='/') DatosGT
  a.navbar-brand.col-sm-3.col-md-2(href='colaboradores') Colaboradores
.container-fluid
  .row
    nav.col-md-2.d-none.d-md-block.bg-light.sidebar.h4
      .sidebar-sticky
        ul.nav.flex-column
          li.nav-item
            a.nav-link.active(href='/')
              span(data-feather='')
              |Federaciones Deportivas-Presupuesto 2017  
              span.sr-only (current)

              li.nav-item
            a.nav-link.active(href='pregunta2')
              span(data-feather='')
              |Gastos gubernamentales -Presupuesto 2018
              span.sr-only (current)
    main.col-md-9.ml-sm-auto.col-lg-10.px-4(role='main')
      block content
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js')
  script(type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script(type='text/javascript' src='/javascripts/index.js')
  script(type='text/javascript' src='js/bootstrap.min.js')
  // Icons
  script(src='https://unpkg.com/feather-icons/dist/feather.min.js')

