extends layout.pug
block content
  .row
    .card.col-md-3
      img.card-img-top(src="images/user.png" alt="Card image cap")
      .card-body
        h5.card-title(style="text-align:center;") Pedrito Prueba
        p.card-text(style="text-align:center;")
          a(href="mailito:prueba@prueba.com" target="_top") mail
    .card.col-md-3
      img.card-img-top(src="..." alt="Card image cap")
      .card-body
        h5.card-title Card title
        p.card-text This card has supporting text below as a natural lead-in to additional content.
    .card.col-md-3
      img.card-img-top(src="..." alt="Card image cap")
      .card-body
        h5.card-title Card title
        p.card-text This card has supporting text below as a natural lead-in to additional content.
    .card.col-md-3
      img.card-img-top(src="..." alt="Card image cap")
      .card-body
        h5.card-title Card title
        p.card-text This card has supporting text below as a natural lead-in to additional content.
    