extends layout.pug
block content
    #divTablaAsc.col-md-12.col-sm-12
    #page-dash
      .row
        .col-lg-12
          h1.page-header Presupuesto 2017 para Federaciones Deportivas en Guatemala
        // /.col-lg-12
      // /.row
      .row
        .card.text-white.bg-dark.mt-1.col-md-12.col-lg-5
          .card-header.h3 Cantidad Total de Solicitudes
          .card-body
            #divTotalRegistros.card-title.center
              img(src='images/loader.gif', height='256', width='256')
        .card.text-white.bg-dark.mt-1.col-md-12.col-lg-7
          .card-header.h3 Monto Asignado a Federaciones 
          .card-body
            #divTotalAsignadoFederacion.card-title.center
              img(src='images/loader.gif', height='256', width='256')
      // /.row
      .row
        .col-lg-8
          canvas#myChart.my-4.w-100
        .col-lg-4
          #divAsignadoFederacion
            img(src='images/loader.gif', height='256', width='256')
          
