extends layout.pug
block content
    #divTablaAsc.col-md-12.col-sm-12
    #page-dash
      .row
        .col-lg-12
          h1.page-header Presupuesto 2017 para Federaciones Deportivas en Guatemala
        // /.col-lg-12
      // /.row
      .row
        .card.text-white.bg-dark.mt-1.col-md-12.col-lg-3
          .card-header.h3 Cantidad de Solicitudes
          .card-body
            #divTotalRegistros.huge.card-title.center
        .card.text-white.bg-dark.mt-1.col-md-12.col-lg-9
          .card-header.h3 Monto Asignado a Federaciones
          .card-body
            #divTotalAsignadoFederacion.huge.card-title.center
      // /.row
      .row
        .col-lg-8
          canvas#myChart.my-4.w-100(width='900' height='380')
        .col-lg-4
          #divAsignadoFederacion
          
    button(type='button' onclick='insertData()') -Obtener e insertar
    button(type='button' onclick='graphTop()') -Graficar

